body {
    background-color: #d4d4d4cd;
}

div {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#navigation_place {
    display: flex;
    align-content:space-between;
    font-weight: 900;
    font-size: larger;
}

.nav_links {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 3%;
}

h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2%;
}